[submodule "libdivecomputer"]
	path = libdivecomputer
	url = https://github.com/venkateshshukla/libdivecomputer.git
[submodule "subsurface"]
	path = subsurface
	url = git://subsurface.hohndel.org/subsurface.git
	pushurl = git@github.com:glance-/subsurface.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/venkateshshukla/libusb.git
[submodule "libftdi"]
	path = libftdi
	url = https://github.com/venkateshshukla/libftdi.git
